.button {
  .active {
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: -2px 0px 14px -5px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: -2px 0px 14px -5px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -2px 0px 14px -5px rgba(255, 255, 255, 0.75);
  }

  .btn-spotify {
    font-size: 0.8125rem;
    font-weight: 700;
    border: 0px;
    border-radius: 9999px;
    transition-duration: 33ms;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    min-inline-size: 0px;
    padding: 6px 16px;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    background-color: #fff;
    color: #000;
    vertical-align: middle;
    &:hover {
      transform: scale(1.05);
    }
  }
  .medium {
    width: 154px;
    height: 48px;
    .content {
      font-size: 14px;
    }
  }
  .large {
    width: 110px;
    height: 49px;
    .content {
      display: inline-block;
      font-size: 17px;
    }
  }

  .type {
    color: #fff;
    background-color: #232323;
  }
}
