.preview {
  position: fixed;
  bottom: 0;
  height: 66px;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(90deg, #af2896, #509bf5);
  .preview-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 24px 7px 15px;
    color: #fff;

    .inner-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1px;
      font-size: 14px;
      h6 {
        margin-bottom: 0;
      }
    }
  }
}
